<div class="jumbotron">
  <h1>Hello!</h1>
  <p class="lead">
    <img src="images/dollar-sign.png" alt="quality">
    <br> Always a pleasure to give you all the details you need from the place you are at the moment!
  </p>
  <button class="btn btn-lg btn-success" ng-click="qualityFunc()">Give me Quality Control</button> 
  
</div>
<div class="row marketing">
  <h2>Show me the Rating</h2>
  <p>
    {{rating}} 
  </p>
  <h2>Show me where am I</h2>  
  <p id="googleMap"></p>
  <h2>What type of place is It?</h2>
  <p>{{types}}</p>  
  <button class="btn btn-lg btn-danger" ng-click="qualityFunc()">Save this place </button> 
</div>

 
 
